/* A la base d'un projet, prendre le sélecteur universel
 pour enlever le margin et le padding et ensuite le html
 au début du projet. Cela inclus le margin et le padding
 dans le calcul de la largeur et de la hauteur. 
 Les navigateurs vont inclure le padding et le margin dans le
dans le calcul de la hauteur et de la largeur. Cela évite beaucoup de 
bugs de positionnement... Ensuite, le sélecteur universel de tous les before
et tous les afters. On veut qu'ils aient le box-sizing. on va les faire hériter du html
 Font-size : 62.5%. Cela permet d'avoir toujours 10px car de base
 les navigateurs sont à 16px pour les écritures. Donc rem pour toujurs utiliser 10px
Cela permet d'avoir une meilleur accessilité pour les navigateurs quand on va zoomer... 
10/16=0.625 - 1rem =10px. C'est une technique pour une meilleure accessibilité.
100vh (100 viewport)
*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'open sans', 'sans-serif';
    font-weight: 400;
    line-height: 1.6;
    color: #777;
    background-image: linear-gradient(to right bottom, #31708e, #5085a5);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #faf9f9;
    box-shadow: 0 2rem 6rem rgb(0, 0, 0, 0.3);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid #f4f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 3.25rem;
    width: 5rem;
    margin-left: 2rem;
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    height: 2rem;
    width: 2rem;
    fill: #777;
}

.searchInput {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
}

.searchButton{
    border: none;
    background-color:#f4f2f2;
}